@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  display: grid;
  margin: 0px;
  color:rgb(0,185,26);
  font-family: 'JetBrains Mono', monospace;
  width: 100vw;
  height: 100vh;
  background-color: rgb(22,22,22);
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  place-items: center;
}

h1 {
  grid-column: 1 / span 3;
}

.gridItems {
  width: 300px;
  height: 300px;
  background-color: dimgray;
}