@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  color:rgb(0,180,26);
  font-family: 'JetBrains Mono', monospace;
  background-color: rgb(22,22,22);
}